<p>Tous les champs sont obligatoires</p>

<form action="/create/page" method="POST">
    <label for="title">Titre</label>
    <input type="text" name="title" minlength="2" required>

    <label for="sub-title">Sous-titre</label>
    <input type="text" name="sub-title" minlength="2" required>

    <label for="color">Couleur</label>
    <input type="text" name="color" minlength="2" required>

    <label for="section">Section</label>
    <input type="text" name="section" minlength="2" required>


    <button type="submit">Ajouter</button>
</form>