<!-- Charger le header -->
<%- include('statics/header') -%>

<main>
    <h2>Accueil !</h2>

    <h3>Liste des pages</h3>
    <ul>
        <% for( let item of data ) {%>
            <li>
                <p><%- item.title%></p>
                <form action="/delete/page" method="POST">
                    <input type="text" name="id" value="<%- item.id%>" hidden required>
                    <button type="submit"><i class="far fa-trash-alt"></i></button>
                </form>
            </li>
        <% } %>
    </ul>
</main>

<!-- Charger le footer -->
<%- include('statics/footer') -%>