<!-- Charger le header -->
<%- include('statics/header') -%>

<main>
    <% if( type === "page" ) { %>
        <%- include('components/form-page', { action: 'PUT' }) -%>
    <% } %>

    <% if( type === "portfolio" ) { %>
        <p>Créer une portfolio</p>
    <% } %>

    <% if( type === "contact" ) { %>
        <%- include('components/form-contacts', { action: 'PUT' }) -%>
    <% } %>
</main>

<!-- Charger le footer -->
<%- include('statics/footer') -%>